h1{ 
	font:bold;
	 font-family:tahoma;
	color:red;
	font-size:30px}
div {	border:10px groove;
	height:90px;
	width:300px;
	position:relative;
	left:200px;
	top:20px;
	bottom:50px;
	
}

table{
	position:relative;
	top:60px;
	left:150px;
}
tr{
	height:70px;
	width:200px;
}
th{
	font-size:30px;}

details:hover{ background-color: yellow;}

